language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - hhvm

matrix:
  allow_failures:
    - php: 5.5
    - php: hhvm

before_script:
  - composer selfupdate
  - composer install

notifications:
  email: false
