parameters:
    paths:
        - src/
    level: 8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - %rootDir%/../../../tests/bootstrap.php
    ignoreErrors:
