parameters:
    level: 8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - %rootDir%/../../../tests/bootstrap.php
    excludes_analyse:
    ignoreErrors:
        - '#Parameter \#1 \$function of function call_user_func_array expects callable\(\).+AbstractFilter\), mixed\) given.#'
