<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
	backupStaticAttributes="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	bootstrap="tests/bootstrap.php">

	<testsuites>
		<testsuite name="decoda">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
